version: "3.9"

services:

  mysql:
    image: tebancito/ims_cc_mysql:latest
    container_name: ims_mysql
    ports:
      - "3306:3306"
    restart: always
    networks:
      default:
        aliases:
          - db

  web:
    image: tebancito/ims_cc:latest
    container_name: ims_web
    depends_on:
      - mysql
    ports:
      - "8090:80"
    restart: always
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: inventario_db

networks:
  default:
    driver: bridge